body {
	background-color:#1C62BF;
	font-family:"Arial Narrow", Arial, sans-serif;
	font-size: 15px;
	color: Black;
}
h1 {
	font-family: Papyrus, Papyrus;
	text-align:center;
	color:Black; 	
	font-size: 55px; 
	font-weight:bold; 
	font-variant:small-caps;

}
h2 {
	color:Black; 	
	font-size: 30px; 
	font-weight:bold; 
	font-style:italic;

}
h3 {
	color:Black;
	font-size: 20px;
	font-weight: bold;
}
p {
	margin-top:30px; 
	font-size:15px;
	color: Black;
} 
#menubar { 
	background-color: #9BA8EC; 
	width:100%;
	height: 26px;
	overflow:hidden;
}
ul#pagelist { 
	list-style-type:none; 
	margin: 0 auto; 
	padding: 0px;
}

#pagelist li { 
	display:inline;
	font-weight:bold; 
	text-align:center; 
	font-variant:small-caps;
	padding:20px; 
}

#pagelist a { padding: 10px 10px; }
		
#pagelist a:hover { 
	color: White; 
	background-color: #063572; 
}
.picture {
	border: solid 1px black; 
	background: #9BA8EC;
	text-align:center;
	width: 250px;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.sizeOne {
	width:250px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    top: -5px;
    right: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
#left{
	width:24%;
	float:left;
	overflow:hidden;
	padding:10px;
}

#right{
	width:24%;
	float:left;
	overflow:hidden;
	padding:10px;
}

#middle {
	width:47%;
	float:left;
	overflow:hidden;
	padding:10px;
}
#resume{
	width:90%; 
	margin:0 auto; 
	padding:20px; 
	text-align:left; 
}