body {
	background-color:Red;
	
}
h1 {
	text-align:center;
	color:Black; 	
	font-size: 55px; 
	font-weight:bold; 
	font-variant:small-caps;

}
p {
	margin-top:30px; 
	font-size:16px;
} 
.picture {
	border: solid 1px black; 
	background: white;
	text-align:center;
	width: 250px;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.sizeOne {
	width:250px;
}

#left{
	width:24%;
	float:left;
	overflow:hidden;
	padding:10px;
}

#right{
	width:24%;
	float:right;
	overflow:hidden;
	padding:10px;
}

#middle {
	width:47%;
	float:left;
	overflow:hidden;
	padding:10px;
}
#resume{
	width:90%; 
	margin:0 auto; 
	padding:20px; 
	text-align:left; 
}